In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [10]:
height=[157,178,156,167,163,172,165,164,155,154,158,174,173,162,168,169,150,160,170,159]
df=pd.DataFrame({'heights':height})
df

    heights
0       157
1       178
2       156
3       167
4       163
5       172
6       165
7       164
8       155
9       154
10      158
11      174
12      173
13      162
14      168
15      169
16      150
17      160
18      170
19      159

Let the mean of above dataset of height = 165. 
H0= Mean of the dataset is equal to the specified value.
H1=Mean of the dataset is not equal to the specified value.

Let the significance level be 0.05

In [9]:
stats.ttest_1samp(height,165)

Ttest_1sampResult(statistic=-0.7647058823529479, pvalue=0.45384049042025376)

P value < alpha
Hence H0 is rejected and H1 is accepted.